---
---

<section>
  <h1>About Me</h1>
  <p>
    Hello I'm a software developer from the UK. I'm currently working at <a href="https://www.automattic.com/">Automattic</a> on <a href="https://wordpress.com/">WordPress.com</a>.
  </p>
</section>

<style>
  section {
    height: 100vh;
  }
</style>