@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 37%, 90%;
    --foreground: 0, 0%, 0%;

    --primary: 279, 69%, 36%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0, 8%, 85%;
    --secondary-foreground: 240 5.9% 10%;

    scroll-behavior: smooth;
  }

  .dark {
    --background: 0, 0%, 0%;
    --foreground: 279, 70%, 92%;

    --primary: 279, 69%, 36%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 279, 70%, 13%;
    --secondary-foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
