.about-me {
  height: 100vh;
  &__container {
    text-align: center;
    padding: 30px 50px;
  }
  &__title {
    color: red;
    font-size: 10em;
  }
  &__text {
    color: white;
    font-size: 5em;
    
    span {
      opacity: 0.1;
    }
  }
}